* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
}

body {
  background-color: #f5777b;
  

}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}  


button {
    width:  50px;
    height: 50px;
    /* border-radius: 30px; */
    border: none;
    cursor: pointer;
    
}

.screen {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end; 
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  margin: 10px 10px;
  font-size: 30px;
  width: 100%;
  background-color: #a1ae76;

}

.parcial-result {
  font-size: 16px;
}

 .calcultator {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #39393d;
    gap: 20px;
  } 